/*general page style*/

body {
    font-family: Lato, sans-serif !important;
    font-weight: 400;
    font-size: 16pt;
    color: #333;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

h1 {
    font: 400 30px/1.3em Lato, sans-serif;
    margin: 0 0 .5em;
}

h2 {
    font: 400 24px/1.3em Lato, sans-serif;
    margin: 0 0 .5em;
}

h3 {
    font: 400 20px/1.3em Lato, sans-serif;
    margin: 0 0 .5em;
}

h4 {
    font: 600 16px/1.3em Lato, sans-serif;
    margin: 0 0 .5em;
}

h5 {
    font: 700 14px/1.3em Lato, sans-serif;
    margin: 0 0 .5em;
    text-transform: uppercase;
}

h6 {}

a {
    color: #1696d2;
    text-decoration: none;
}

a:hover {
    color: #1696d2;
    text-decoration: none;
}

p,
ul,
li {
    font: 400 16px/24px Lato, sans-serif;
    margin: 0 0 .5em;
    color: #333;
}

p {
    margin-bottom: 1.2em;
}

p.large {
    font-size: 20px;
    line-height: 26px;
}

p.bold {
    font-weight: 700;
}

hr {
    width: 200px;
    border: 0 !important;
    height: 1px;
    border-bottom: 6px solid #1696d2 !important;
    border-bottom-color: #1696d2 !important;
    color: #1696d2 !important;
    margin-top: 45px !important;
    margin-bottom: 45px !important;
    margin-right: 100%;
    display: block;
    float: left;
}

h3.sectiontitle {
    display: block;
    font-size: 40px;
    font-weight: 700;
}

h4.subsectiontitle {
    font-size: 30px;
    font-weight: 400;
}


/* dropdowns for mobile */

.styled-select.filter select {
    pointer-events: none;
}

.styled-select option {
    font-size: 16px;
}

.styled-select select {
    background: transparent;
    width: 250px;
    height: 45px;
    font: 16px Lato;
    padding-left: 10px;
    color: #333;
    line-height: 1;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    pointer-events: none;
}

.styled-select select::-ms-expand {
    display: none !important;
}

.styled-select {
    width: 220px;
    height: 45px;
    overflow: hidden;
    background: url(../img/urban-select-2x.png) no-repeat right #EFEFEF;
    background-size: 45px 45px;
    border: none;
    z-index: 2;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    /*border-bottom: 2px solid #efefef;*/
}

*:focus {
    outline: 0;
}


/* buttons */

.buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100% !important;
    display: table;
}

.urban-button {
    width: 20%;
    font-size: 14px;
    font-family: Lato, sans-serif;
    padding: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #666666;
    display: table-cell;
    line-height: 12px;
    text-align: center;
    margin-right: 0px;
    white-space: normal !important;
    border-radius: 0px;
}

.btn5 {
    width: 20%;
}

.urban-button:hover,
.urban-button.selected,
.urban-button.active,
.urban-button:checked {
    background-color: #1696d2;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #1696d2;
}


/* opening image and title*/

#openimg {
    margin-top: 50px;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
}

#titleparent {
    height: 350px;
    /*display: table;*/
}

#titleholder {
    /*display: table-cell;
    vertical-align: middle;
    padding-top: 10px;*/
    /*position: relative;
    top: 70%;*/
}

h1.projtitle {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 30px;
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    display: inline-block;
}


/*styled first letter*/

.dropcap {
    background-image: url("../img/dropcap-back.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 66px auto;
    display: inline-block;
    float: left;
    height: 75px;
    margin-right: 10px;
    /*margin-top: 8px;*/
    position: relative;
    text-align: center;
    width: 75px;
}

.blockcap {
    color: #000;
    display: inline-block;
    font-size: 75px;
    font-weight: 900;
    line-height: 76px;
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
}

span.weight900 {
    font-weight: 900;
}


/* intro and footer */

#intro {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    background-color: #f1f2f2;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    bottom: 0;
    font-size: 16px;
}

footer p {
    font-size: 14px;
}

footer h2 {
    text-transform: uppercase;
}

footer h2,
h3,
h4 {
    font-weight: 700;
}

.credits {
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 16px;
}

.job {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 12px;
}

.urbanstatement {
    font-style: italic;
    color: #666666;
    font-size: 13px;
    margin-bottom: 1em;
}


/*graphics setup*/


/*mobile layout for graphs*/

@media only screen and (max-width: 767px) {
    .graphic,
    .desktop,
    .buttons {
        display: none;
    }
    .subsection {
        opacity: 1;
        margin-top: 20px;
        margin-bottom: 20px;
        /*min-height: 600;*/
    }
    .section {
        margin-bottom: 25px;
    }
    .catvalue {
        font-size: 18px;
        font-weight: 700;
    }
}

@media only screen and (min-width: 768px) {
    .mobilegraphic,
    .mobile,
    .styled-select {
        display: none;
    }
    .subsection {
        opacity: .25;
        margin-top: 60px;
        margin-bottom: 100px;
        /*min-height: 600;*/
    }
    .section {
        margin-bottom: 250px;
    }
    .catvalue {
        font-size: 22px;
        font-weight: 700;
    }
}

.subsection.graph-scroll-active {
    opacity: 1;
}

.graphic {
    margin-top: 100px;
    width: 100%;
}

.graphic.graph-scroll-fixed {
    position: fixed;
    top: 0px;
    margin-top: 100px;
}

.graphic.graph-scroll-below {
    position: absolute;
    bottom: 0px;
    /*margin-top: 100px;*/
    /*top: 100px;*/
    /*top: 700px;*/
}

#graphic3.graph-scroll-below {
    position: absolute;
    top: 800px;
}

svg {
    /*border: 1px solid #1696d2;*/
}


/* map */

.districts {
    stroke: #ffffff;
    stroke-width: 1px;
    pointer-events: cursor;
}

circle.hovered {
    fill: #fdbf11 !important;
}

.district.hovered {
    fill: #fdbf11;
}

.sentence-arcs {
    display: none;
    fill: none;
    stroke: #fdbf11;
    stroke-width: 1px;
    pointer-events: none;
}

.sentence-arcs.hovered {
    display: inline;
}

.centroids circle {
    /*fill: #d69fd2;*/
    stroke: #000;
    pointer-events: none;
}

.complexes circle {
    fill: #ffffff;
    stroke: #00152A;
    pointer-events: none;
}

.graphrace,
.graphch,
.graphsecurity {
    pointer-events: none;
}


/*graph elements*/

.axis,
.axis-show {
    font-size: 11px;
    color: #333;
}

.axis path {
    display: none;
}

.axis-show path,
.axis-show line {
    fill: none;
    stroke-width: 1px;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #efefef;
}

.axistitle {
    font-size: 13px;
    font-style: italic;
}

.footnote {
    font-size: 11px;
    font-style: italic;
    margin-bottom: 1em;
}

.graphtitle {
    font-size: 14px;
}

.pointlabel {
    font-size: 12px;
    fill: #000;
}

.chartline {
    fill: none;
    stroke-width: 1px;
}

.admissions {
    stroke: #fdbf11;
}

.standing,
.blueline {
    stroke: #1696d2;
}

.pop_jointimpact,
.pop_total {
    stroke-width: 1px;
    stroke: #000;
}

.pop_baseline {
    stroke-width: 4px;
    stroke: #1696d2;
}


/*.layer {
    opacity: 0.75;
}*/

.other.pointlabel {
    fill: #e2e2e2;
    color: #e2e2e2 !important;
}

.drug.layer,
.black.layer {
    /*fill: #1696d2;*/
    fill: #73bfe2;
}

.immigration.layer,
.white.layer {
    /*fill: #fdbf11;*/
    fill: #fdd870;
}

.weapon.layer {
    /*fill: #ec008b;*/
    fill: #e46aa7;
}

.other.layer {
    fill: #5c5859;
    /*fill: #e3e3e3;*/
}

.hispanic.layer,
.sex.layer {
    fill: #e3e3e3;
}

.drug.chartline,
.black.chartline {
    stroke: #1696d2;
    stroke-width: 2px;
}

.immigration.chartline,
.white.chartline {
    stroke: #fdbf11;
    stroke-width: 2px;
}

.weapon.chartline {
    stroke: #ec008b;
    stroke-width: 2px;
}

.other.chartline {
    stroke: #5c5859;
    stroke-width: 2px;
}

.hispanic.chartline,
.sex.chartline {
    stroke: #d2d2d2;
    stroke-width: 2px;
}

.dot {
    fill: #ffffff;
    stroke: #1696d2;
    stroke-width: 1px;
}

.notapplied {
    fill: #1696d2;
}

.applied {
    fill: #fdbf11;
}

.notapplicable {
    fill: #5c5859;
}

span.blue {
    background-color: rgba(22, 150, 210, 0.2);
}

span.lightblue {
    background-color: rgba(207, 232, 243, 0.2);
}

span.yellow {
    background-color: rgba(253, 191, 17, 0.2);
}

span.grey {
    background-color: rgba(92, 88, 89, 0.2);
}

span.lightgrey {
    background-color: rgba(210, 210, 210, 0.3);
}

span.pink {
    background-color: rgba(236, 0, 139, 0.2);
}

.bar {
    fill: #1696d2;
}


/*mobile adjustments*/

@media (min-width: 1200px) {
    #openimg {
        height: 350px;
        width: 100%;
    }
}

@media (max-width: 1199px) {
    #openimg {
        height: 350px;
        width: 100%;
    }
    h1.projtitle {
        font-size: 30px;
    }
}

@media (max-width: 1050px) {
    #openimg {
        height: 300px;
        width: 100%;
    }
    #titleparent {
        height: 300px;
        top: 10px;
    }
}

@media (min-width: 600px) {
    #titleholder {
        position: relative;
        top: 55%;
    }
}

@media (max-width: 599px) {
    #openimg {
        /*background-image: url("../img/mobileIntroImage.jpg");*/
        height: 250px;
    }
    #titleparent {
        height: 250px;
    }
    h1.projtitle {
        padding: 10px;
    }
    #titleholder {
        position: relative;
        top: 30px;
    }
    p.large {
        font-size: 18px;
    }
}